@font-face {
    font-family: 'Georgia_Italic';
    src: url('../fonts/GeorgiaPro-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Georgia_Light';
    src: url('../fonts/GeorgiaPro-Light.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  
  @font-face {
    font-family: 'Articulat-Bold';
    src: url('../fonts/ArticulatCF-Bold.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  
  @font-face {
    font-family: 'Articulat-Normal';
    src: url('../fonts/ArticulatCF-Normal.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  

.mainco-container {
    display: grid;
    height: 100%;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    text-align: center;
    overflow: auto;
  }
  
  .mainco-container > div {
    background-color: rgb(255, 253, 251);
    text-align: center;
    font-size: 30px;
    overflow: auto;
  }
  
  #headerco-container {
    background-color: rgb(139, 106, 89);
    height: 80px;
  }
  
  #title-table {
    background-color: #be9684;
    font-family: 'Articulat-Bold';
    color: white;
  }

  #body-table {
    background-color: #f9efea;
    font-family: 'Articulat-Bold';
    color: rgb(139, 106, 89);
  }

  #body-table td {
    padding: 15px;
    color: rgb(111, 83, 69);
  }

  
  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;

    margin-top: 20%;
    
  }

  .farewell{
    font-family: 'Georgia_Italic';
    color:#644231;
  }

  .fareShop{
    background-color: #be9684;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Articulat-Bold';
    width: 100%;
  }

  .fareShop:hover {
    background-color: #8b6a59;
    color: #fff;
  }
  
  .fareShop:active {
    background-color: #8b6a59;
    color: #fff;
    outline: none;
  }
  




  #footerco-container {
    background-color: rgba(218, 206, 199);
    height: 290px;
  }
  
  #footerco-txt1 {
    color: #8B6A59;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
  }
  
  label {
    font-family: 'Articulat-Normal';
    color: #644231;
    font-size: 30px;
  }
  
  @media (max-width: 768px) {
    .mainco-container {
      grid-template-rows: fit-content(100%) fit
    }
}