@font-face {
    font-family: 'Georgia_Italic';
    src: url('../fonts/GeorgiaPro-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Georgia_Light';
    src: url('../fonts/GeorgiaPro-Light.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  
  @font-face {
    font-family: 'Articulat-Bold';
    src: url('../fonts/ArticulatCF-Bold.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  
  @font-face {
    font-family: 'Articulat-Normal';
    src: url('../fonts/ArticulatCF-Normal.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  
  
  .header {
      background-color: #8B6A59;
      color: white;
      font-size: 30px;
      padding: 20px;
      display: flex;
      align-items: center;
      height: 80px;
    }
    
    .headerContent {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    
    .headerTitle {
      margin: 0;
      font-family: 'Articulat-Bold';
      color: white;
      font-size: 30px;
    }
    
    .buttonContainer {
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px; /* Adjust this value as needed */
    }
    
    .headerBtn {
      font-family: 'Articulat-Normal';
      background-color: #8B6A59;
      color: white;
      font-size: 18px;
      border: none;
      padding: 0 10px;
    }
    
    .headerBtn:hover {
      color: #E6C7B8;
    }
