.mainco-container {
    display: grid;
    height: 100%;
    grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
    text-align: center;
    overflow: auto;
  }
  
  .mainco-container > div {
    background-color: rgb(255, 253, 251);
    text-align: center;
    font-size: 30px;
    overflow: auto;
  }
  
  #headerco-container {
    background-color: rgb(139, 106, 89);
    height: 80px;
  }
  
  #title-table {
    background-color: #be9684;
    font-family: 'Articulat-Bold';
    color: white;
  }

  #title-table td {
    padding: 15px;
  }
  
  #body-table {
    background-color: #f9efea;
    font-family: 'Articulat-Bold';
    color: rgb(139, 106, 89);
  }

  #body-table td {
    padding: 15px;
    color: rgb(111, 83, 69);
  }

  #info-table{
    font-family: 'Articulat-Normal';
    font-size: 25px;
  }
  
  #body1co-container {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 10px;
    padding: 20px;
    height: fit-content;
    justify-content: center;
    margin-bottom: 80px;
  }
  
  #body1co-container > div {
    /* border: 1px solid black;
    background-color: rgb(51, 200, 66); */
    display: grid;
    gap: 30px;
    padding: 60px;
  }
  
  #tableco-container {
    display: grid;
    height: fit-content(100%);
    grid-template-columns: fit-content(100%);
    justify-content: center;
  }
  
  #body2co-container {

    background-color: rgb(255, 255, 255);
    height: 500px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: fit-content(100%);
    row-gap: 0;
  }
  
  #body2co-container > div {
    width: 100%;
    /* background-color: rgb(93, 211, 107); */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0;
  }
  
  #co-1 button {
    border: none;
    outline: 0;
    display: inline-block;
    height: fit-content;
    width: fit-content;
 
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(139, 106, 89);
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Georgia_Italic';
  }
  
  #co-1 button:hover {
    background-color: rgb(93, 68, 55);
    color: white;
  }
  
  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;

    
  }
  




  #footerco-container {
    background-color: rgba(218, 206, 199);
    height: 290px;
  }
  
  #footerco-txt1 {
    color: #8B6A59;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
  }
  
  label {
    font-family: 'Articulat-Normal';
    color: #644231;
    font-size: 30px;
  }
  
  @media (max-width: 768px) {
    .mainco-container {
      grid-template-rows: fit-content(100%) fit
    }
}